/* mobile and global */

body{
    margin:0;
}
.body-image{
    width:90%;
    display: block;
    margin: auto;
    max-width: 700px;
}
.testimonial-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:45px;
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonial{
    display: flex;
    flex-direction:row;
    margin: 15px 0 15px 0;
}
#contact-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infographic-content{
    display:flex;
    flex-direction: column;
}
.container{
    max-width: 100%;  
    margin:auto; 
}
.line {
    height: 1px;
    width:70%;
    background: rgb(78, 78, 78);
    position: absolute;
    left:15%;
  }
#banner-section{
    position: relative;
}

.section-header{
    display:flex;
    align-items: flex-end;
    height:200px;
    color:rgb(255, 255, 255);
    padding-bottom:15px;
    margin-left:20px;
}


.info-cell{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;

}

#header-section{
    background-color: rgb(78, 78, 78);
    /*background-image: linear-gradient(180deg, #1f1f1fa1,30%, rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.158)), url(/images/building.jpg);*/
}
.banner-content{
    
    padding: 60px 0px 60px 0px;
    width:100%;
    display:flex;
    flex-direction: column;
    position:relative;
}

.landing-banner-content-2{
    display: flex;
    flex-direction: column;
}


.biography-content{
    margin:20px;
}
@media only screen and (min-width: 600px) and (max-width: 1074px){
    .biography-content{
        max-width:700px;
        margin:auto;
    }
    .info-cell{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    
    }
    .container{
        max-width: 100%;   
        margin:0px 46px 0 46px;
        
    }


    .infographic-content{
        display:flex;
        flex-direction: row;
    }
    .banner-content{
        flex-direction: row;
    }

}

@media only screen and (min-width: 1074px){

    .info-cell{
        flex-direction: column;

    
    }
    .testimonial-text{
        height: 100px;
    }
    .testimonial-container{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .testimonial{
        margin-top:30px;
        display: flex;
        flex-direction:row;
        width:800px; 
    }
    .content{
        max-width: 1247px;
        margin:auto;
    }
    .infographic-content{
        display:flex;
        flex-direction: row;
        max-width: 1000px;
    }
    .biography-content{
        max-width:700px;
        margin:auto;
    }
    .container{
        max-width: 100%;   
        margin: 0 107px 0 107px;
    }
    .banner-section{
        max-width: 349px;
    }
    .banner-content{
        flex-direction: row;
    }

}