/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#black-filter{
    height:100%;
    width:0%;
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
    background-color: black;
    opacity:0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    text-decoration: underline;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }